<ion-header>
    <ion-toolbar>
        <ion-title>Hola{{nombreUsuario}}!</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="nuevoProveedor()">Nuevo Proveedor</ion-button>
    <ion-list>
        <ion-list-header>
            <ion-label>Proveedores</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let provedor of Proveedores">
            <ion-label>{{provedor.RazonSocial}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-button color="danger" (click)="logout()">Cerrar Sesion</ion-button>
</ion-content>